@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: #eafaf1;
  --input-border-color: #dadbdf;
  --input-focus-border-color: #ffd700;
  --button-text-color: #ffffff; 
  --output-text-color: #031f05; 
  --output-highlight-color: #8bc34a; 
  --heading-background-color: #1b5e20; 
  --table-header-background-color: #dcedc8;
  --tooltip-background-color: #33691e;
  --chart-background-color: #22c55e90;
  --chart-border-color: #4d7c0f;
  --slider-thumb-color: #65a30d;
  --slider-thumb-color-focus: #55860b;
  --slider-track-selected: #65a30d;
  --slider-track-unselected: #d1d5db;
  --slider-thumb-size: 1rem;
  --slider-track-height: 0.5rem;
}

.zain-black {
    font-family: "Zain", serif;
    font-weight: 900;
    font-style: normal;
  }

input[type="range"] {
    cursor: pointer;
}
input[type="text"],
input[type="number"] {
    border-radius: 2em;
    padding: 8px 12px;
    border: 1px solid var(--input-border-color);
 
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
}
input:focus {
    outline: none;
    border: 1px solid var(--input-focus-border-color);
}
.form {
    color: var(--output-text-color);
}
.shadow {
    box-shadow: 0 4px 10px #071e411a;
}
label {
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
    color: var(--output-text-color);
}

.graph-wrapper {
    padding: 1em;
}
.label-wrapper {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 0.25em;
   
    align-items: center;
    margin-bottom: 0.5em;
}

#resetForm {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
}
.ts-input {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.form-input-wrapper {
    max-width: 200px;
    padding: 2em;
    border-right: 1px solid #eee;
}
.tooltip {
    position: relative;
    display: inline-block;
    height: 1em;
    cursor: pointer;
    flex-shrink: 0;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: var(--tooltip-background-color);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    left: -2rem;
    z-index: 10;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.calculator-title {
    font-weight: 900;
    margin: 0;
    text-align: center;
  
}
.graph-output {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
#yearOutputs table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.content-container {
    padding: 1em;
}
.heading-wrapper {
    padding: 1em;
    background: var(--heading-background-color);
}
.output-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.output-table th,
.output-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
.output-table th {
    background-color: var(--table-header-background-color);
}
#compChart {
    width: 500px;
}


  
@media only screen and (max-width: 1280px) {
    #compChart {
        width: 400px;
    }
}
@media only screen and (max-width: 1080px) {
    #compChart {
        width: 350px;
    }
}
@media only screen and (max-width: 768px) {
    .image-179 {
        position: absolute;
        padding: 0 30px 30px 0;
        width: 175px;
    }
    .outputswrapper {
        flex-direction: column;
        gap: 1em;
        width: auto;
    }
    #compChart {
        width: 300px;
    }
    .graph-output {
        flex-direction: column;
        gap: 1em;
    }
    .graph-wrapper {
        margin-top: 0px;
        align-self: center;
    }
    .form-input-wrapper {
        max-width: unset;
        border-bottom: 1px solid #eee;
        padding: 2em 1em;
    }
    .form {
        flex-direction: column;
    }
    #resetForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5em;
    }
}
@media only screen and (max-width: 480px) {
    #resetForm {
        display: flex;
    }
    #compChart {
        width: 250px;
    }
}
@media (min-width: 1280px) {
  .xl\:grid-cols-2 {
      grid-template-columns:repeat(2,minmax(0,1fr));
  }

  .xl\:grid-cols-3 {
      grid-template-columns: repeat(3,minmax(0,1fr))
  }
}
